RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]


deny from 94.242.195.165
deny from 146.185.239.53
deny from 146.185.0.0/16

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 46.148.0.0/16
